*Let us import all the required libraries, (we'll keep adding here when we need something)*

In [42]:
import pandas as pd
import numpy as np

'''
Use cntrl + shift + - to split cells at the cursor, very useful and time saving
'''

'\nUse cntrl + shift + - to split cells at the cursor, very useful and time saving\n'

*Let us understand the dataset deeply by printing its related stats and some rows*

In [43]:
df = pd.read_csv('used_cars.csv')
print("Dataset info:\n")

print(df.info())

print("\nDataset description:\n")

print(df.describe(include='all'))

print("\nFirst 5 rows of the dataset:\n")

print(df.head())

Dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB
None

Dataset description:

       brand    model   model_year       milage fuel_type  \
count   4009     4009  4009.000000         4009      3839
unique    57     1898          NaN         2818         7
top     Ford  M3 Base          NaN  110,000 mi.  Gasoline
freq     386       30          NaN           16      3309
mean     NaN      NaN  2015.515590          NaN       NaN
std      NaN      NaN     6.104816          NaN       NaN
min      NaN      NaN  1974.000000          NaN       NaN
25%      NaN      NaN  2012.000000          NaN       NaN
50%      NaN      NaN  2017.000000          NaN       NaN
75%      NaN      NaN  2020.000000          NaN       NaN
max      NaN      NaN  2024.000000          NaN       NaN

                            engine transmission ext_col int_col  \
count                         4009         4009    4009    4009
unique                        1146           62     319     156
top     2.0L I4 16V GDI DOHC Turbo          A/T   Black   Black
freq                            52         1037     905    2025
mean                           NaN          NaN     NaN     NaN
std                            NaN          NaN     NaN     NaN
min                            NaN          NaN     NaN     NaN
25%                            NaN          NaN     NaN     NaN
50%                            NaN          NaN     NaN     NaN
75%                            NaN          NaN     NaN     NaN
max                            NaN          NaN     NaN     NaN

             accident clean_title    price
count            3896        3413     4009
unique              2           1     1569
top     None reported         Yes  $15,000
freq             2910        3413       39
mean              NaN         NaN      NaN
std               NaN         NaN      NaN
min               NaN         NaN      NaN
25%               NaN         NaN      NaN
50%               NaN         NaN      NaN
75%               NaN         NaN      NaN
max               NaN         NaN      NaN

First 5 rows of the dataset:

      brand                            model  model_year      milage  \
0      Ford  Utility Police Interceptor Base        2013  51,000 mi.
1   Hyundai                     Palisade SEL        2021  34,742 mi.
2     Lexus                    RX 350 RX 350        2022  22,372 mi.
3  INFINITI                 Q50 Hybrid Sport        2015  88,900 mi.
4      Audi        Q3 45 S line Premium Plus        2021   9,835 mi.

       fuel_type                                             engine  \
0  E85 Flex Fuel  300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...
1       Gasoline                               3.8L V6 24V GDI DOHC
2       Gasoline                                     3.5 Liter DOHC
3         Hybrid  354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...
4       Gasoline                         2.0L I4 16V GDI DOHC Turbo

        transmission                 ext_col int_col  \
0        6-Speed A/T                   Black   Black
1  8-Speed Automatic         Moonlight Cloud    Gray
2          Automatic                    Blue   Black
3        7-Speed A/T                   Black   Black
4  8-Speed Automatic  Glacier White Metallic   Black

                                 accident clean_title    price
0  At least 1 accident or damage reported         Yes  $10,300
1  At least 1 accident or damage reported         Yes  $38,005
2                           None reported         NaN  $54,598
3                           None reported         Yes  $15,500
4                           None reported         NaN  $34,999

In [44]:
'''
Rename milage to mileage and other columns for more clarity
'''

df.rename(columns={'milage': 'mileage','int_col':'interior_col','ext_col':'exterior_color'}, inplace=True)
print("\nColumns after renaming:\n")
print(df.columns)

'''
Splitting the mileage column to extract only the numeric part and convert it to integer
But it did'nt work the first time just because the mileage written was 
'65,000 mi.' and the comma was creating problem while converting to integer
So we will first remove the comma and then split the string to get only the numeric part
'''

df['mileage'] = df['mileage'].str.split(' ').str[0]
df['mileage'] = df['mileage'].str.replace(',', '').astype(int)
'''
Can also do df['mileage'] = df['mileage'].str.split(',')
But this won't work for multiple commas in the number like 1,00,000
'''
print("\nMileage column after cleaning:\n")
print(df['mileage'].head())

Columns after renaming:

Index(['brand', 'model', 'model_year', 'mileage', 'fuel_type', 'engine',
       'transmission', 'exterior_color', 'interior_col', 'accident',
       'clean_title', 'price'],
      dtype='object')

Mileage column after cleaning:

0    51000
1    34742
2    22372
3    88900
4     9835
Name: mileage, dtype: int64

In [45]:
'''
Checking null values
'''
print("\nNull values in each column:\n")
print(df.isnull().sum())

Null values in each column:

brand               0
model               0
model_year          0
mileage             0
fuel_type         170
engine              0
transmission        0
exterior_color      0
interior_col        0
accident          113
clean_title       596
price               0
dtype: int64

In [46]:

'''
handling missing values in clean title
'''

df['clean_title'].fillna('No', inplace=True)

C:\Users\shast\AppData\Local\Temp\ipykernel_3680\2577823776.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['clean_title'].fillna('No', inplace=True)

In [47]:


'''
Handling missing values in fuel_type
'''

print(df.fuel_type.unique())

print(df.fuel_type.value_counts())

['E85 Flex Fuel' 'Gasoline' 'Hybrid' nan 'Diesel' 'Plug-In Hybrid' '–'
 'not supported']
fuel_type
Gasoline          3309
Hybrid             194
E85 Flex Fuel      139
Diesel             116
–                   45
Plug-In Hybrid      34
not supported        2
Name: count, dtype: int64

In [48]:

'''
Filling the missing values in fuel_type with the most freuent value a.k.a mode - Gasoline has much more
entries that any other value in the fuel_type column which makes it very clear that this is a statistically sound
decision from us
'''

df.fillna({'fuel_type': 'Gasoline'}, inplace=True)

'''
Not forgetting to handle '-' values and 'not supported' values in the fuel_type column
'''
df['fuel_type'] = df['fuel_type'].replace(
    {'-': 'Gasoline', 'not supported': 'Gasoline', '–': 'Gasoline'}
)

print("\nUnique values in fuel_type after handling missing and invalid values:\n")
print(df.fuel_type.unique())

Unique values in fuel_type after handling missing and invalid values:

['E85 Flex Fuel' 'Gasoline' 'Hybrid' 'Diesel' 'Plug-In Hybrid']

In [49]:
'''
Handling missing values in the accident column
'''
print(df['accident'].isnull().sum())

df['accident'].value_counts()

'''
Filling the missing values in accident column with the most frequent value - No because both values are 
significant - no accident reported and atleast 1 accident reported but No has a higher count, nonetheless 
both are significant and we cannot drop the rows with missing values because that would lead to loss of valuable data
it is dangerous to assume there was no accident for the other cars and it is not ethical either to assume there
was an accident, so we will just add unkown to the missing values
'''

df.accident.fillna('Unknown', inplace=True)

113

C:\Users\shast\AppData\Local\Temp\ipykernel_3680\1888148025.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.accident.fillna('Unknown', inplace=True)

In [51]:
'''
THE END OF MISSING VALUES HANDLING 
Handled -
1.clean_title
2.fuel_type
3.accident
'''

# Let's print the null values again to confirm there are no more null values
print("\nNull values in each column after handling missing values:\n")
print(df.isnull().sum())


'''
Let us save the cleaned data to a new excel file
'''

df.to_excel('First_Step-handled_null_values.xlsx', index=False)

Null values in each column after handling missing values:

brand             0
model             0
model_year        0
mileage           0
fuel_type         0
engine            0
transmission      0
exterior_color    0
interior_col      0
accident          0
clean_title       0
price             0
dtype: int64