*Let us import all the required libraries, (we'll keep adding here when we need something)*

In [1]:
import pandas as pd
import numpy as np

*Let us understand the dataset deeply by printing its related stats and some rows*

In [3]:
df = pd.read_csv('used_cars.csv')
print("Dataset info:\n")

print(df.info())

print("\nDataset description:\n")

print(df.describe(include='all'))

print("\nFirst 5 rows of the dataset:\n")

print(df.head())

Dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB
None

Dataset description:

       brand    model   model_year       milage fuel_type  \
count   4009     4009  4009.000000         4009      3839
unique    57     1898          NaN         2818         7
top     Ford  M3 Base          NaN  110,000 mi.  Gasoline
freq     386       30          NaN           16      3309
mean     NaN      NaN  2015.515590          NaN       NaN
std      NaN      NaN     6.104816          NaN       NaN
min      NaN      NaN  1974.000000          NaN       NaN
25%      NaN      NaN  2012.000000          NaN       NaN
50%      NaN      NaN  2017.000000          NaN       NaN
75%      NaN      NaN  2020.000000          NaN       NaN
max      NaN      NaN  2024.000000          NaN       NaN

                            engine transmission ext_col int_col  \
count                         4009         4009    4009    4009
unique                        1146           62     319     156
top     2.0L I4 16V GDI DOHC Turbo          A/T   Black   Black
freq                            52         1037     905    2025
mean                           NaN          NaN     NaN     NaN
std                            NaN          NaN     NaN     NaN
min                            NaN          NaN     NaN     NaN
25%                            NaN          NaN     NaN     NaN
50%                            NaN          NaN     NaN     NaN
75%                            NaN          NaN     NaN     NaN
max                            NaN          NaN     NaN     NaN

             accident clean_title    price
count            3896        3413     4009
unique              2           1     1569
top     None reported         Yes  $15,000
freq             2910        3413       39
mean              NaN         NaN      NaN
std               NaN         NaN      NaN
min               NaN         NaN      NaN
25%               NaN         NaN      NaN
50%               NaN         NaN      NaN
75%               NaN         NaN      NaN
max               NaN         NaN      NaN

First 5 rows of the dataset:

      brand                            model  model_year      milage  \
0      Ford  Utility Police Interceptor Base        2013  51,000 mi.
1   Hyundai                     Palisade SEL        2021  34,742 mi.
2     Lexus                    RX 350 RX 350        2022  22,372 mi.
3  INFINITI                 Q50 Hybrid Sport        2015  88,900 mi.
4      Audi        Q3 45 S line Premium Plus        2021   9,835 mi.

       fuel_type                                             engine  \
0  E85 Flex Fuel  300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...
1       Gasoline                               3.8L V6 24V GDI DOHC
2       Gasoline                                     3.5 Liter DOHC
3         Hybrid  354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...
4       Gasoline                         2.0L I4 16V GDI DOHC Turbo

        transmission                 ext_col int_col  \
0        6-Speed A/T                   Black   Black
1  8-Speed Automatic         Moonlight Cloud    Gray
2          Automatic                    Blue   Black
3        7-Speed A/T                   Black   Black
4  8-Speed Automatic  Glacier White Metallic   Black

                                 accident clean_title    price
0  At least 1 accident or damage reported         Yes  $10,300
1  At least 1 accident or damage reported         Yes  $38,005
2                           None reported         NaN  $54,598
3                           None reported         Yes  $15,500
4                           None reported         NaN  $34,999